{% extends "base.html" %}

{% block app_content %}

<style>
  .extendfull, .extendleft
  {
  padding-left: 100px;
  margin-left: -300px;
  padding-bottom: 800px;
  }
  .space-above {
  padding-top: 50px;
  }
  .space-title {
  padding-top: 150px;
  }
</style>
<p>

  </p>
<div class="container-fluid">
  
  <div class="row">
    <div class="col-sm-6">
      <div id="map" class="extendleft" style="height: 20%;"></div>
    </div>
    <div class="col-sm-6">
      
      <p>
	<h1 align="center" class="space-title"> In-A-Pinch</h1>
      </p>

      <p>
	<h4 align="center">Reliably predicting bike and dock availability <br />for sensible Citi Bike route planning.</h4>
	</p>
  <p class="space-above">
    <div class="input-group">
      <div class="input-group-prepend">
	<span class="input-group-text">Start</span>
      </div>
      <input type="text" aria-label="First name" class="form-control" value="523 Prospect Place, Brooklyn NY 11238">
    </div>
    <div class="input-group">
      <div class="dropdown">
	<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Start Location Examples
	  <span class="caret"></span></button>
	<ul class="dropdown-menu">
	  <li><a href="#">523 Prospect Place, Brooklyn, NY 11238</a></li>
	  <li><a href="#"></a></li>
	</ul>
      </div>
      
  </p>
  
      <p>
      <div class="input-group">
	<div class="input-group-prepend">
	  <span class="input-group-text">End</span>
	</div>
	<input type="text" aria-label="Last name" class="form-control" value="1100 6th Ave New York, NY 10036">
      </div>
  </p>

  <p>
    
      <div class="dropdown">
	<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">End Location Examples
	  <span class="caret"></span></button>
	<ul class="dropdown-menu">
	  <li><a href="#">HBO</a></li>
	  <li><a href="#">Murmurmation</a></li>
	  <li><a href="#">Bloomberg</a></li>
	  <li><a href="#">Simon Data</a></li>
	  <li><a href="#">Neuberger Berman</a></li>
	</ul>
      </div>
    </div>
      
      <form action="#" method="post">
	
	{{ form.hidden_tag() }}
	<!--
	<p>
	  Start Date: {{ form.dt(class='datepicker') }}
	</p>
	
	<p>
	      Start Time: {{ form.start_time }}
	</p>
	-->
	<p>
	  <input type="submit"/>
	  </p>
      </form>
    </div>
  </p>
    </div>
  </div>
</div>
<script type="text/javascript">
  
  
  // The first parameter are the coordinates of the center of the map
  // The second parameter is the zoom level
  var map = L.map('map').setView([40.753, -74.000], 12);
  
  // {s}, {z}, {x} and {y} are placeholders for map tiles
  // {x} and {y} are the x/y of where you are on the map
  // {z} is the zoom level
  // {s} is the subdomain of cartodb
    var layer = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
  });
  
  // Now add the layer onto the map
  map.addLayer(layer);

  
  {% if answer != 'none' %}
  // Start station marker.
  var marker1 = L.marker([{{ start.lat }}, {{ start.long }}]).addTo(map);
  marker1.bindPopup("In 7 mins...<br><b>Bikes: {{ start.bikes_avail }}</b><br>Docks: {{ start.docks_avail }}",  {closeOnClick: false,
  autoClose: false}).openPopup();
  
  // End station marker.
  var marker = L.marker([{{ end.lat }}, {{ end.long }}]).addTo(map);
  marker.bindPopup("In 49 mins...<br>Bikes: {{ end.bikes_avail }}<br><b>Docks: {{ end.docks_avail }}</b>",  {closeOnClick: false,
  autoClose: false}).openPopup();

  // Walking to station route.
  var stationpolyline = new L.Polyline({{ first_leg.polylines }}, {
  color: 'blue',
  weight: 5,
  opacity: 0.5,
  smoothFactor: 1
});
  stationpolyline.addTo(map);
  
  
  // Bike route.
  var firstpolyline = new L.Polyline({{ second_leg.polylines }}, {
  color: 'red',
  weight: 5,
  opacity: 0.5,
  smoothFactor: 1
});
  firstpolyline.addTo(map);

  // Walking to destination route.
  var destinationpolyline = new L.Polyline({{ third_leg.polylines }}, {
  color: 'blue',
  weight: 5,
  opacity: 0.5,
  smoothFactor: 1
});
  destinationpolyline.addTo(map);

  // Provide duration of each trip.

  
  {% endif %}
  </script>
  </p>
</div>  
{% if answer != 'none' %}


      <div class="space-above">
      <span id="valBox"></span>
      <input type="range" min="5" max="10" step="1" 
	     oninput="showVal(this.value)" onchange="showVal(this.value)">
      </div>
<table style="width:80%" align="center">
  <tr>
    <th>Direction</th>
    <th>Expected time</th>
    <th></th>
    <th>Now</th>
    <th>Then</th>
  </tr>
  <tr>
    <td>Walk to the citibike station at {{ start.name }}</td>
    <td id="walk_to_station"></td>
    <td>Bike Availability</td>
    <td>{{ start.bikes_avail }}</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Bike to the citibike station at {{ end.name }}</td>
    <td id="bike_to_station"></td>
    <td>Dock Availability</td>
    <td>{{ end.docks_avail }}</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Walk to your final location.</td>
    <td id="walk_to_destination"></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td align="right">Total Time: &nbsp;</td>
    <td id="total_duration"></td>
    <td></td>
    <td></td>
  </tr>
</table>



<script type="text/javascript">
  function time(variable, duration){
      var s = document.getElementById(variable);
      s.innerHTML = moment().startOf('day').seconds(duration).format('H:mm:ss');
  }
  time("walk_to_station", {{ first_leg.duration }} );
  time("bike_to_station", {{ second_leg.duration }}*3./8);
  time("walk_to_destination", {{ third_leg.duration }} );
  time("total_duration", {{ first_leg.duration }}  + {{ second_leg.duration }}*3./8 + {{ third_leg.duration }} );
</script>




{% endif %}
</div>
{% endblock %}
