{% extends "base.html" %}

{% block app_content %}
<!-- Load Esri Leaflet from CDN -->
<script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"
	integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
	crossorigin=""></script>


<!-- Load Esri Leaflet Geocoder from CDN -->
<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.css"
      integrity="sha512-v5YmWLm8KqAAmg5808pETiccEohtt8rPVMGQ1jA6jqkWVydV5Cuz3nJ9fQ7ittSxvuqsvI9RSGfVoKPaAJZ/AQ=="
      crossorigin="">
<script src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js"
	integrity="sha512-zdT4Pc2tIrc6uoYly2Wp8jh6EPEWaveqqD3sT0lf5yei19BC1WulGuh5CesB0ldBKZieKGD7Qyf/G0jdSe016A=="
	crossorigin=""></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<style>
  
  .extendfull, .extendleft
  {
  padding-left: 100px;
  margin-left: -300px;
  padding-bottom: 800px;
  }
  .space-above {
  padding-top: 50px;
  }
  .space-title {
  padding-top: 150px;
  }

  .geocoder-control-input{
  font-size:22px;
  }

  .geocoder-control-list .geocoder-control-suggestion{
  font-size:18px;
  }

  html, body {
  width: 100%;
  }

  .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  }
  
  .button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .newcontainer {
  @extend.container;
  display: flex;
  }

  .newcontainer.space-between {  
  justify-content: space-between;
  font-size: 22px;
  width: 95%;
  align: center;
  }

  table, td, th {
  font-size: 22px;
  }

  .custom .leaflet-popup-content-wrapper {
  font-size:18px;
}
</style>

<div class="container">
  
	<h1 align="center" class="space-title"> In-A-Pinch</h1>
      <p>
	<h4 align="center">Reliably predicting bike and dock availability <br />for sensible Citi Bike route planning.</h4>
	</p>
  </div>



<div class="container">
  <div id="map" style="height: 700px;"></div>
</div>


<div class="container" align="center">
    <form action="#" method="post">
      
      {{ form.hidden_tag() }}
      <input type="hidden" id="start_lat" name="start_lat"></input>
      <input type="hidden" id="start_long" name="start_long"></input>
      <input type="hidden" id="end_lat" name="end_lat"></input>
      <input type="hidden" id="end_long" name="end_long"></input>
      
      <input type="hidden" id="destination_latlng"></input>
      <!--
	  <p>
	    Start Date: {{ form.dt(class='datepicker') }}
	  </p>
	  
      <p>
	Start Time: {{ form.start_time }}
      </p>
      -->
      {% if answer == 'none' %}
      <div class="space-above">
	<input type="submit" class="button"/>
      </div>
      {% endif %}
    </form>
</div>

<script type="text/javascript">
  // Create Map.
  var map = L.map('map', { zoomControl: false} ).setView([40.753, -74.000], 12);

  // Add Layer with tiles.
  var layer = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
  });
  
  // Now add the layer onto the map
  map.addLayer(layer);

  // Add zoom control to the bottom left.
  L.control.zoom({
  position:'bottomleft'
  }).addTo(map);

  // Search control for starting address.
  var searchControl = L.esri.Geocoding.geosearch({expanded:true,
  placeholder:'Starting Address',
  'zoomToResult':false,
  'useMapBounds':12,
  'collapseAfterResult':false}).addTo(map);

  // Search control for destination address on a separate corner to avoid overlap.
  var searchControl2 = L.esri.Geocoding.geosearch({expanded:true,
  placeholder:'Destination Address',
  position:'topright',
  'zoomToResult':false,
  'useMapBounds':12,
  'collapseAfterResult':false}).addTo(map);

  // Pin results.
  var start_results = L.layerGroup().addTo(map);
  var dest_results = L.layerGroup().addTo(map);

  
  function resultsToHiddenField(variable, result){
  var s = document.getElementById(variable);
  s.value = result;
  }   
  
  // Search events.
  searchControl2.on('results', function(data){
  dest_results.clearLayers();
  // Populate hidden form with lat long name.
  resultsToHiddenField("end_lat", data.results[0].latlng.lat);
  resultsToHiddenField("end_long", data.results[0].latlng.lng);
  
    for (var i = data.results.length - 1; i >= 0; i--) {
      dest_results.addLayer(L.marker(data.results[i].latlng));
    }
  });

  
  searchControl.on('results', function(data){
  start_results.clearLayers();
  
  resultsToHiddenField("start_lat", data.results[0].latlng.lat);
  resultsToHiddenField("start_long", data.results[0].latlng.lng);
    for (var i = data.results.length - 1; i >= 0; i--) {
      start_results.addLayer(L.marker(data.results[i].latlng,));
    }
  });
  
  {% if answer != 'none' %}
  // Start station marker.
  var marker1 = L.marker([{{ start.lat }}, {{ start.long }}]).addTo(map);
  marker1.bindPopup("<b>Bikes: {{ start.bikes_avail_future | round }}</b><br>Docks: {{ start.docks_avail_future }}",  {closeOnClick: false,
  autoClose: false, className:'custom'}).openPopup();
  
  // End station marker.
  var marker = L.marker([{{ end.lat }}, {{ end.long }}]).addTo(map);
  marker.bindPopup("Bikes: {{ end.bikes_avail_future }}<br><b>Docks: {{ end.docks_avail_future | round }}</b>",  {closeOnClick: false,
  autoClose: false, className:'custom'}).openPopup();

  // Walking to station route.
  var stationpolyline = new L.Polyline({{ first_leg.polylines }}, {
  color: 'blue',
  weight: 5,
  opacity: 0.5,
  smoothFactor: 1
});
  stationpolyline.addTo(map);
  
  
  // Bike route.
  var firstpolyline = new L.Polyline({{ second_leg.polylines }}, {
  color: 'red',
  weight: 5,
  opacity: 0.5,
  smoothFactor: 1
});
  firstpolyline.addTo(map);

  // Walking to destination route.
  var destinationpolyline = new L.Polyline({{ third_leg.polylines }}, {
  color: 'blue',
  weight: 5,
  opacity: 0.5,
  smoothFactor: 1
});
  destinationpolyline.addTo(map);

  // Provide duration of each trip.

  
  {% endif %}
  </script>
  </p>
</div>

{% if answer != 'none' %}



<div class="container">
  <div id="accordion">
    <div class="card border-secondary mb-3">
      <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	<div class="newcontainer space-between">
	<div> Route </div>
	<div id="eta"></div>
	<div> <i class="fas fa-ship" style="color: blue"></i> {{ total_prob | round}}%</div>
	</div>
      </div>
      
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
	<div class="card-body">
	  
	  <table style="width:98%" align="center">
	    <tr>
	      <th>Direction</th>
	      <th>Expected time</th>
	      <th></th>
	      <th>Now</th>
	      <th>Then</th>
	    </tr>
	    <tr>
	      <td>Walk to the station at {{ start.name }}</td>
	      <td id="walk_to_station"></td>
	      <td>Bike Availability</td>
	      <td>{{ start.bikes_avail }}</td>
	      <td>{{ start.bikes_avail_future | round }}</td>
	    </tr>
	    <tr>
	      <td>Bike to the station at {{ end.name }}</td>
	      <td id="bike_to_station"></td>
	      <td>Dock Availability</td>
	      <td>{{ end.docks_avail }}</td>
	      <td>{{ end.docks_avail_future | round }}</td>
	    </tr>
	    <tr>
	      <td>Walk to your final location.</td>
	      <td id="walk_to_destination"></td>
	      <td></td>
	      <td></td>
	    </tr>
	  </table>
	</div>
      </div>
    </div>
  </div>
</div>


<div class="space-above">
  <!-- Slider to adjust walking speed.
      <span id="valBox"></span>
      <input type="range" min="5" max="10" step="1" 
	     oninput="showVal(this.value)" onchange="showVal(this.value)"> -->
</div>



<script type="text/javascript">
  function time(variable, duration){
  var s = document.getElementById(variable);
  var t = moment().startOf('day').seconds(duration);
  if (t > 3600){
      s.innerHTML = t.format('H:mm:ss');
  } else {
      s.innerHTML = t.format('mm:ss');
  }
  }

  function setETA(duration){
  var s = document.getElementById("eta");
  s.innerHTML = "ETA: " + duration + " mins";
  }
  
  function getminutes(duration){
  var t = moment().startOf('day').seconds(duration);
  return (t.hour()*60) + t.minutes();
  }

  time("walk_to_station", {{ first_leg.duration }} );
  time("bike_to_station", {{ second_leg.duration }} );
  time("walk_to_destination", {{ third_leg.duration }} );
  setETA( getminutes({{ first_leg.duration }}  + {{ second_leg.duration }} + {{ third_leg.duration }}) );
</script>




{% endif %}
</div>
{% endblock %}
